<!DOCTYPE html>
<html>

<head>
    <title>360 Kino</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">360 Kino</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign Up</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    


 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To 360 Kino!</h1>
             <p>
                <a class="btn btn-primary btn-large" href="/video/new">Add New Video</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% videos.forEach(function(video){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= video.thumbnail %>">
                   <div class="caption">
                       <a href='/<%= video.id %>'><h4><%= video.name %></h4></a> 
                   </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>



</body>

</html>
